
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.center-text {
    position: relative;
    font-size: 3rem;
    text-align: center;
    color: #333;
}

.center-text span {
    border-bottom: 2px solid #333;
    display: inline-block;
}

.flying-underscores {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.underscore {
    position: absolute;
    font-size: 1rem;
    color: transparent;
    white-space: nowrap;
    animation: fillText 4s ease-in-out forwards, moveAround 8s infinite linear;
}
body {
    font-family: "Arial Rounded MT Bold", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: white;
}

.right-fixed {
    right: 0;
  position: fixed;
    top: 0;
    height: 100%;
    width: 100px;
    background-color: black;
    color: white;
    padding: 20px;
    overflow-y: auto; 
}

.left-fixed {
    left: 0;
  position: fixed;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: black;
    color: white;
    padding: 20px;
    overflow-y: auto; 
}

.content {
    margin: 0 300px; /* Platz für die fixierten Container links und rechts */
    padding: 20px;
    height: 100vh; 
    overflow-y: auto; 
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.item {
    flex: 1 1 300px;
    max-width: 400px;
}

.center-image {
    width: 100%;
    height: auto;
    display: block;
}


.main-header {
        
            padding: 10px 20px 100px;
            text-align: right;
        }

        .main-header nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
        }

        .main-header nav ul li {
            margin-left: 75px;
        }

        .main-header nav ul li a {
            text-decoration: underline;
            font-size: 1em;
            color: black;
            
      }

h1,h2{
	margin: 0px;
  padding: 0px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}


 p, .small{
  font-size: 1em;
  line-height: 1.15em;
    width: 300px;
    height: auto;

}


h2,.medium{
  font-size: 1.5em;
  line-height: 0.95em;
  letter-spacing:-0.065em;
  padding: 0px;
}

h3,.medium{
  font-size: 1.5em;
  line-height: 0.95em;
  letter-spacing:-0.065em;
  padding: 0px;
  
}

h4,.medium{
  font-size: 0.75em;
  line-height: 0.95em;
  letter-spacing:-0.065em;
  padding: 0px;
}

h1,.extralarge{
	font-size: 12vw;
	line-height: 0.8em;
	letter-spacing: -0.1em;
  margin: 100px
}

